button {
	width: 120px;
}

canvas {
	display: none;
}

.clan-chat-sticker {
	width: 120;
	height: 100;
}

.album-sticker {
	width: 512;
	height: 383;
}

.happening-sticker {
	width: 100;
	height: 100;
}

.album-name {
	white-space: nowrap;
}

